[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
flake8 = "*"
pyformat = "*"

[packages]
library-boilerplate = {git = "https://github.com/moaible/python-pip-library-boilerplate.git"}

[scripts]
fmt = "pyformat -air ."
vet = "flake8"
test = "pytest"

[requires]
python_version = "3.8"
